body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 700px;
  width: 400px;
  padding: 20px;
  border: black 2px solid;
  gap: 15px;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  height: 150px;
  width: 100%;
  border: black 2px solid;
}

#buttons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 520px;
  width: 100%;
}

#clear-div, #row1, #row2, #row3, #row4 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px;
}

#zero {
  flex: 1;
}

button {
  flex: 1;
  font-size: 24px;
}

#clear-div {
  flex: 1;
}

#row1 {
  flex: 1;
}

#row2 {
  flex: 1;
}

#row2 {
  flex: 1;
}

#row3 {
  flex: 1;
}

#row4 {
  flex: 1;
}